.all-products {
    min-height: calc(100vh - var(--nav-height));
    
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
}

.all-products .filters {
    margin-top: 8px;
    margin-bottom: 8px;
}
