.homepage {
    min-height: calc(100vh - var(--nav-height));

    display: flex;
    
    align-items: center;

    display: grid;
    grid-template-rows: 4fr 6fr;
}

.homepage .items {
    height: 100%;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;

    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
}

.homepage .items .item-show-item:first-child {
    justify-self: start;
}
.homepage .items .item-show-item:last-child {
    justify-self: end;
}

.homepage .header {
    height: 100%;
    
    display: flex;
    align-items: center;

    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
}