.product-page {
    padding-top: 16px;
    display: flex;
    flex-direction: column;

    gap: 16px;
}

.product-page .top {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 32px;
}

.product-page .top .images {
    /*Make it center of page*/
    display: flex;
    flex-direction: column;

    align-items:flex-start;
}

.product-page .top .images img {
    max-height: calc(100vh - var(--nav-height) - 32px);
}

.product-page .top .info {
    display: flex;
    flex-direction: column;

    gap: 24px;
    font-size: 14px;
}

.product-page .top .info .drp-dwn {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.product-page .top .info .drp-dwn .colors {
    display: flex;
    gap: 8px;
    width: 50%;
}


.product-page .top .info .drp-dwn .colors button {
    border: 2px solid var(--color);
    background: var(--background);
    color: var(--color);
}

.product-page .top .info .drp-dwn .colors button.active {
    background: var(--color);
    color: var(--background);
    text-decoration: underline;
    text-underline-offset: 3px;
}

.product-page .top .info .drp-dwn p {
    font-size: 14px;
    font-weight: 500;
}

.product-page .top .info .name {
    font-size: 40px;
    font-weight: 500;

    padding-bottom: 16px;
}

.product-page .top .info .price {
    font-size: 36px;
    font-weight: 500;
}

.product-page .top .info button {
    padding: 8px 12px;
    font-size: 16px;
    width: 50%;
    border: 2px solid var(--color);
    border-radius: var(--border-radius);
    background: var(--color);
    color: var(--background);
}

.product-page .top .info button:hover {
    cursor: pointer;
    background-color: var(--background);
    color: var(--color);
}

.product-page .top .info .number-of-items {
    display: flex;

    font-size: 16px;
    width: max-content;
    border: 2px solid var(--color);
    border-radius: var(--border-radius);
}

.product-page .top .info .number-of-items p{
    padding: 8px 12px;
}

.product-page .top .info .number-of-items .inc {
    border-left: 1px solid var(--emph-not-active);
}

.product-page .top .info .number-of-items .dec {
    border-right: 1px solid var(--emph-not-active);
}

.product-page .top .info .number-of-items .number {
    width: 2ch;
    display: flex;
    justify-content: center;
}

.product-page .top .info .number-of-items .inc:hover,
.product-page .top .info .number-of-items .dec:hover {
    cursor: pointer;
    background: var(--color);
    color: var(--background);
}


.product-page .bottom {
    height: 100px;
}