.cart-popup {
    display: flex;
    flex-direction: column;
    --gap: 12px;
    --width: 24ch;
    min-width: 256px;
}

.cart-popup .cart-item {
    width: auto;
    /*
    border: 2px solid var(--color);
    */
    border-radius: var(--border-radius);
    display: grid;
    grid-template-columns: min-content auto 20px;
    gap: 8px;
    overflow: hidden;

    height: 100px;

    padding-bottom: 8px;
    padding-top: 8px;

    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    border-bottom: 1px solid var(--color);
}

.cart-item:nth-last-child(2){
    border-bottom: none;
}

.cart-popup .cart-item img {
    width: min-content;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: var(--border-radius);
}

.cart-popup .cart-item .info {
    width: 100%;
    display: flex;
    white-space: nowrap;
    flex-direction: column;

    padding: 2px 0px;
    padding-right: 12px;
    justify-content: space-between;
}

.cart-popup .cart-item .info .name {
    width: max-content;
}

.cart-popup .cart-item .info .name:hover {
    cursor: pointer;
}

.cart-popup .cart-item .info .name::after {
    content: '';
    display: block;
    margin: auto;
    height: 0px;
    width: 0px;
    border-bottom: 1px solid var(--color);
    transition: width .5s ease, background-color .5s ease;
}

.cart-popup .cart-item .info .name:hover::after {
    width: 100%;
}

.cart-popup .cart-item .info .name,
.cart-popup .cart-item .info .price {
    font-size: 18px;
    font-weight: 400;
}

.cart-popup .cart-item .info .detail {
    font-size: 14px;
}

.cart-popup .cart-item .remove {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cart-popup .cart-item .remove .icon {
    font-size: medium;
    transition: all .2s linear;
    border-radius: var(--border-radius);
}

.cart-popup .cart-item .remove .icon:hover {
    font-size: medium;
    color: var(--background);
    background: var(--color);
}

.cart-popup button {
    width: 100%;
/*    
    padding: 4px 8px;
*/    
    padding: 6px 10px;
    
    border: 2px solid var(--color);
    color: var(--color);
    color: var(--background);
    background-color: var(--background);
    background-color: var(--color);
    border-radius: var(--border-radius);

    transition: all .2s linear;
}

.cart-popup button:hover {
    cursor: pointer;

    background-color: var(--color);
    background-color: var(--background);
    background-color: var(--emph);
    color: var(--background);
    color: var(--color);
}

.cart-popup button:focus {
    outline: none;
    background-color: var(--color);
    background-color: var(--emph);
    color: var(--background);

    color: var(--color);
}

.cart-popup a {
    all: unset;
}
.cart-popup a::after {
    all: unset;
}