.cart-popup {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 24ch;
    width: 256px;
}

.cart-popup .cart-item {
    width: auto;
    border: 2px solid var(--color);
    border-radius: var(--border-radius);
    display: grid;
    grid-template-columns: 1fr 3fr .3fr;
    gap: 8px;
    cursor: pointer;
}
.cart-popup .cart-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-popup .cart-item .info {
    width: auto;
    display: flex;
    flex-direction: column;

    justify-content: space-around;
}

.cart-popup .cart-item .info .name,
.cart-popup .cart-item .info .price {
    font-size: 18px;
    font-weight: 400;
}

.cart-popup .cart-item .info .detail {
    font-size: 14px;
}

.cart-popup .cart-item .remove {
    display: flex;
    justify-content: start;
    align-items: center;
}

.cart-popup button {
    width: 100%;
    padding: 4px 8px;
    border: 2px solid var(--color);
    color: var(--color);
    background-color: var(--background);
    border-radius: var(--border-radius);

    transition: all .2s linear;
}

.cart-popup button:hover {
    cursor: pointer;

    background-color: var(--color);
    color: var(--background);
}

.cart-popup button.valid:focus {
    outline: none;
    background-color: var(--color);
    color: var(--background);
}