.dark-mode-switch {
    display: flex;
}

.dark-mode-switch .switch {
    height: 22px;
    background-color: var(--color);
    border-radius: 2px;
    align-items: center;
    display: flex;
}

.dark-mode-switch input[type=checkbox] {
    appearance: none;
    height: 20px;
    width: 40px;
    background-color: transparent;
    position: relative;
    border-radius: 2px;
    cursor: pointer;
    --border: 1.9px solid black;
}
   
.dark-mode-switch input[type=checkbox]::before {
    content: '';
    display: block;
    height: 16px;
    width: 16px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: calc(16px/2 + 4px);
    background-color: transparent;
    
    background-image: url("data:image/svg+xml,%3Csvg style='color: rgb(227, 227, 227);' xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-sun' viewBox='0 0 16 16'%3E%3Cpath d='M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z' fill='%23e3e3e3'%3E%3C/path%3E%3C/svg%3E");

    background-image: url('../../Github-Octicons-Sun-16.svg');

    background-repeat: no-repeat;

    border-radius: 1px;
    transition: .3s ease;
}
   
.dark-mode-switch input[type=checkbox]:checked::before {
    background-color: var(--true);
    background-color: transparent;
    background-repeat: no-repeat;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill-rule='nonzero' d='M10 7a7 7 0 0 0 12 4.9v.1c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2h.1A6.979 6.979 0 0 0 10 7zm-6 5a8 8 0 0 0 15.062 3.762A9 9 0 0 1 8.238 4.938 7.999 7.999 0 0 0 4 12z'/%3E%3C/g%3E%3C/svg%3E");
    left: calc(100% - (16px/2 + 3px));
}