.dropdown-container {
    text-align: left;
    position: relative;

    width: 80%;

    cursor: pointer;
}
  
.dropdown-input {
    border: 1px solid var(--color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: inherit;
    width: 100%;
    user-select: none;
    border-radius: var(--border-radius);
}

.dropdown-selected-value {
    padding: 4px 6px;
}

.dropdown-tool {
    height: 18px;
    width: 18px;
    padding: 4px 6px;

    display: flex;
    place-items: center;
}

.dropdown-tool .icon {
    font-size: 18px;
    transition: all .2s linear;
}

.dropdown-tool .icon.rotate {
    font-size: 18px;
    transform:rotate(-90deg);
}
  
.dropdown-menu {
    position: absolute;
    width: 100%;
    width: 100%;
    border: 1px solid var(--color);
    border-top: none;

    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    
    overflow: auto;
    max-height: 150px;
    background-color: var(--background);
    z-index: 99;

    left: 0;
}
  
.dropdown-item {
    padding: 4px 6px;
    cursor: pointer;
}
  
.dropdown-item:hover {
    background-color: red;
}
  
.dropdown-item.selected {
    background-color: var(--color);
    color: var(--background);
}