.dropdown-container {
    text-align: left;
    position: relative;

    width: 50%;

    cursor: pointer;

    font-size: 16px;
}

.placeholder {
    color: var(--emph-not-active);
}
  
.dropdown-input {
    border: 2px solid var(--color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: inherit;
    width: 100%;
    user-select: none;
    border-radius: var(--border-radius);
}

.dropdown-selected-value {
    padding: 8px 12px;
}

.dropdown-tool {
    height: 18px;
    width: 18px;
    padding: 8px 12px;

    display: flex;
    place-items: center;
}

.dropdown-tool .icon {
    font-size: 18px;
    transition: all .2s linear;
    transform:rotate(-90deg);
}

.dropdown-tool .icon.rotate {
    font-size: 18px;
    transform:rotate(0deg);
}
  
.dropdown-menu {
    position: absolute;
    width: 100%;
    width: 100%;
    border: 2px solid var(--color);
    border-top: none;

    transform: translateY(-2px);

    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    
    overflow: auto;
    max-height: 150px;
    background-color: var(--background);
    z-index: 99;

    left: 0;
}
  
.dropdown-item {
    padding: 8px 12px;
    cursor: pointer;
}
  
.dropdown-item:hover {
    background-color: red;
}
  
.dropdown-item.selected {
    background-color: var(--color);
    color: var(--background);
}
