.item-show-item {
/*    
    width: 88%;
*/    
    width: 76%;

    aspect-ratio: 4 / 3;
    transition: all .2s ease-in-out;

    border-radius: var(--border-radius);

    position: relative;

    overflow: hidden;
}

.item-show-item:hover {
    cursor: pointer;
    transform: scale(1.15);
    transition: ease-out 0.5s;
}

body:has(.item-show-item:hover) 
.item-show-item:not(:hover) {
    transform: scale(0.8);
    transition: ease-out 0.5s;
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(2px); 
}

.item-show-item .text {
    position: absolute;
    
    width: 50%;
    height: 25%;
    padding: 16px;

    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    color: var(--color);
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(2px) saturate(100%);
    -webkit-backdrop-filter: blur(2px) saturate(100%);
    background-color: rgba(19, 19, 19, 0.74);
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.item-show-item .text p {
    
}

.item-show-item a {
    position: absolute;

    display: flex;
    width: 100%;
    height: 100%;

    z-index: 102;
}

.item-show-item a:before,
.item-show-item a:after {
    position:absolute; 
    content:' ';
    
    width:30%; 
    height: 30%;

    border-color: var(--color); 
    border-style: solid; 
    transition: all .3s ease-in-out;
}

.item-show-item a:before {bottom:0;right:0;border-width: 0 3px 3px 0; border-bottom-right-radius: var(--border-radius);}
.item-show-item a:after {top:0;left:0;border-width: 3px 0 0 3px; border-top-left-radius: var(--border-radius);}

.item-show-item a:hover::before,  
.item-show-item a:hover::after{ 
    width:50%; 
    height: 50%;
}


.item-show-item img {
    position: absolute;
    
    width: 100%;
    height: 100%;
    object-fit: cover;

    z-index: -100;
}