.item-show-item {
/*
    width: 70%;
*/
    height: 70%;
/*
    aspect-ratio: 3 / 4;
*/
    aspect-ratio: 4 / 3;
    transition: all .2s ease-in-out;
/*
    border-radius: 6px;
*/
    border-radius: 2px;

    position: relative;

    overflow: hidden;
}

.item-show-item:hover {
    cursor: pointer;
    transform: scale(1.15);
    transition: ease-out 0.5s;

    background-color: beige;
}

body:has(.item-show-item:hover) 
.item-show-item:not(:hover) {
    transform: scale(0.8);
    transition: ease-out 0.5s;
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(2px); 

    background-color: red;
}

.item-show-item .text {
    position: absolute;
    
    top: 0;
    
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    color: lime;
}

.item-show-item a {
    position: absolute;

    display: flex;
    width: 100%;
    height: 100%;

    z-index: 102;
}

.item-show-item a:before,
.item-show-item a:after {
    position:absolute; 
    content:' ';
    
    width:30%; 
    height: 30%;

    border-color:black; 
    border-style:solid; 
    transition: all .3s ease-in-out;
}

.item-show-item a:before {bottom:0;right:0;border-width: 0 2px 2px 0; border-bottom-right-radius: 2px;}
.item-show-item a:after {top:0;left:0;border-width: 2px 0 0 2px; border-top-left-radius: 2px;}

.item-show-item a:hover::before,  
.item-show-item a:hover::after{ 
    width:50%; 
    height: 50%;
}


.item-show-item img {
    position: absolute;
    
    width: 100%;
    height: 100%;
    object-fit: cover;

    z-index: -100;
}