nav {
    height: var(--nav-height);
    display: flex;

    padding-left: var(--padding-left);
    padding-right: var(--padding-right);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

nav ul {
    display: flex;
    list-style: none;

    width: max-content;

    gap: 32px;
}

nav a {
    width: max-content;
}

nav .cart-btn {
    width: max-content;

    display: flex;
    gap: 28px;

    justify-self: end;
    align-items: center;
}

nav .logo {
    width: max-content;

    justify-self: start;
}

nav .icon {
    cursor: pointer;
}


/*Checkbox*/
.switch {
    --false: #E81B1B;
    --true: #009068;
   }
   
   input[type=checkbox] {
    appearance: none;
    height: 20px;
    width: 40px;
    background-color: #fff;
    position: relative;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid black;
   }
   
   input[type=checkbox]::before {
    content: '';
    display: block;
    height: 16px;
    width: 16px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: calc(16px/2 + 2px);
    background-color: var(--false);
    border-radius: 1px;
    transition: .3s ease;
   }
   
   input[type=checkbox]:checked::before {
    background-color: var(--true);
    left: calc(100% - (16px/2 + 2px));
   }