nav {
    height: var(--nav-height);
    display: flex;

    padding-left: var(--padding-left);
    padding-right: var(--padding-right);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

nav ul {
    display: flex;
    list-style: none;

    width: max-content;

    gap: 32px;
}

nav a {
    width: max-content;
}

nav .cart-btn {
    width: max-content;

    display: flex;
    gap: 28px;

    justify-self: end;
    align-items: center;
}

nav .logo {
    width: max-content;

    justify-self: start;
}

nav .icon {
    cursor: pointer;
}


/*Checkbox*/
.switch {
    --false: #E81B1B;
    --true: #009068;
   }
   
   input[type=checkbox] {
    appearance: none;
    height: 20px;
    width: 40px;
    background-color: #fff;
    position: relative;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid black;
   }
   
   input[type=checkbox]::before {
    content: '';
    display: block;
    height: 16px;
    width: 16px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: calc(16px/2 + 2px);
    background-color: var(--false);
    border-radius: 1px;
    transition: .3s ease;
   }
   
   input[type=checkbox]:checked::before {
    background-color: var(--true);
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill-rule='nonzero' d='M10 7a7 7 0 0 0 12 4.9v.1c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2h.1A6.979 6.979 0 0 0 10 7zm-6 5a8 8 0 0 0 15.062 3.762A9 9 0 0 1 8.238 4.938 7.999 7.999 0 0 0 4 12z'/%3E%3C/g%3E%3C/svg%3E");
    left: calc(100% - (16px/2 + 2px));
   }