nav {
    height: var(--nav-height);
    display: flex;

    padding-left: var(--padding-left);
    padding-right: var(--padding-right);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;

    background: var(--background);
}

nav ul {
    display: flex;
    list-style: none;

    width: max-content;

    gap: 32px;
}

nav a {
    width: max-content;
    text-decoration: none;
    color: var(--color);
}

nav .cart-btn {
    width: max-content;

    display: flex;
    gap: 28px;

    justify-self: end;
    align-items: center;
}

nav .logo {
    width: max-content;

    justify-self: start;
}

nav .icon {
    cursor: pointer;
    color: var(--color);
    
    stroke: var(--color);
    stroke-width: 0;
}