nav {
    height: var(--nav-height);
    display: flex;

    padding-left: var(--padding-left);
    padding-right: var(--padding-right);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;

    background: var(--background);
}

nav ul {
    display: flex;
    list-style: none;

    width: max-content;

    gap: 32px;
}

nav a {
    width: max-content;
    text-decoration: none;
    color: var(--color);

    height: max-content;
}

nav a::after {
    content: '';
    display: block;
    --margin: auto;
    height: 0px;
    width: 0px;
    padding-bottom: 2px;
    border-bottom: 1px solid var(--color);
    transition: width .5s ease, background-color .5s ease;
}

nav a:hover::after {
    width: 100%;
}

nav .cart-btn {
    width: max-content;

    display: flex;
    gap: 28px;

    justify-self: end;
    align-items: center;
}

nav .logo {
    display: flex;
    justify-self: start;
    height: 100%;
    width: 100%;
}

nav .logo a {
    height: 100%;
    width: 80%;
}

nav .logo a::after {
    all:unset;
}

nav .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    filter: var(--filter);
    -webkit-filter: var(--filter)
}

nav .icon {
    cursor: pointer;
    color: var(--color);
    
    stroke: var(--color);
    stroke-width: 0;
}