.product-preview {
    width: 272px;

    width: 360px;
/*
    border: 2px solid var(--color);
*/
    border-radius: var(--border-radius);

    overflow: hidden;

    display: flex;
    flex-direction: column;
/*    
    gap: 4px;
*/
    background: var(--emph);

    transition: all .2s ease-in-out;
}

.product-preview:hover {
    cursor: pointer;
}

.product-preview .item-info {
    display: flex;
    flex-direction: column;
    gap: 8px;

    padding-bottom: 4px;
    padding-top: 8px;

    border-right: 2px solid var(--color);
    border-left: 2px solid var(--color);
    border-bottom: 2px solid var(--color);
}

.product-preview .item-name {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.product-preview .item-price {
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.product-preview img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.product-preview:hover {
    cursor: pointer;
    /*transform: scale(1.05);*/
    transition: ease-out 0.5s;
}

body:has(.product-preview:hover) 
.product-preview:not(:hover) {
    /*transform: scale(0.8);*/
    transition: ease-out 0.5s;
    filter: brightness(0.8) saturate(0) contrast(1.2) blur(2px); 
}