.product-preview {
    aspect-ratio: 3 / 4;

    width: 272px;

    border: 1px solid var(--color);
    border-radius: 2px;
}

.product-preview:hover {
    cursor: pointer;
}

.product-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}