* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;

  overscroll-behavior: none;
  user-select: none;

  transition: background .5s;

  --outline: 1px dotted red;
}

section {
  background: var(--background);

  min-height: calc(100vh - var(--nav-height));
    
  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
}

:root {
/*  
  --nav-height: 68px;
*/ 
  --nav-height: 76px;

  --border-radius: 2px;

  --padding-left: 10vw;
  --padding-right: 10vw;
/*
  --padding-left: 16vw;
  --padding-right: 16vw;
*/
}


/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}