* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;

  overscroll-behavior: none;
  user-select: none;

  --outline: 1px dotted red;
}

:root {
  --nav-height: 68px;
  --padding-left: 16vw;
  --padding-right: 16vw;
}